@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #f7f8fa;
  color: #111827;
  -webkit-tap-highlight-color: transparent;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
